= javascript_include_tag "jquery"
= javascript_include_tag "jquery.modal"
= javascript_include_tag "admin-no-cms"
= stylesheet_link_tag "jquery.modal"
= stylesheet_link_tag "admin_no_cms"
!!!
-if @is_crisis_mode
  .mode-config.header.crisis-mode
    %span CURRENTLY
    %h1 In Crisis Mode
-else
  .mode-config.header.preview-mode
    %span CURRENTLY
    %h1 In Preview Mode

.mode-config.content

  .crisis-current-info.left
    .field
      %h3 Title
      %div.current-title #{@mode.title}
    .field
      %h3 Description
      %div.current-text #{@mode.text}

  .crisis-control.left
    - if @is_crisis_mode
      %button#turn-off-btn.admin-btn.switch-off Switch to Preview Mode
      %ul
        %li Returns to normal home page, with SF72 video
        %li Re-enables the Crisis Mode tour tips
        %li Returns to your previously written Preview Mode text
    - else
      %button#turn-on-btn.admin-btn.switch-on Switch to Crisis Mode
      %ul
        %li The Crisis Mode page becomes the default home page
        %li The Crisis Mode tour popups are disabled
        %li You can define and update the crisis title, description and What to Do
  .clear
  %button#update_crisis_info.admin-btn.switch-on Update info

  #modal-panel.modal
    %form#edit_mode{"accept-charset" => "UTF-8", :action => "/admin/modes/1", :method => "post", :novalidate => "novalidate"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "_method", :type => "hidden", :value => "put"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      %input{ name: "mode_action", type: "hidden", value: "update"}
      .form-section.describe-incident
        %h2
          .circle 1 
          Describe the incident
        .field
          %label{:for => "title"} Title
          %br/
          %input#title{:name => "mode[title]", :size => "30", :type => "text", :maxlength => 255, :value => @mode.title}/
        .field
          %label{:for => "text"} Text
          %br/
          %input#text{:name => "mode[text]", :size => "30", :type => "text", :maxlength => 255, :value => @mode.text}/
      / 
        -# This is commented temporarily because it may be added back later.
        .form-section.what-should-i-do
          %h2
            .circle 2
            What should I do?
            .clear
            .field
              %h3 Recommendation #1
              %input{name: 'mode[recommendation_1_title]', type: 'text', value: @mode.recommendation_1_title}
              %textarea{name: 'mode[recommendation_1_text]'} #{@mode.recommendation_1_text}
            .field
              %h3 Recommendation #2
              %input{name: 'mode[recommendation_2_title]', type: 'text', value: @mode.recommendation_2_title}
              %textarea{name: 'mode[recommendation_2_text]'} #{@mode.recommendation_2_text}
            .field
              %h3 Recommendation #3
              %input{name: 'mode[recommendation_3_title]', type: 'text', value: @mode.recommendation_3_title}
              %textarea{name: 'mode[recommendation_3_text]'} #{@mode.recommendation_3_text}
            .clear
      .form-section.configure-updates
        %h2
          .circle 2
          Configure the Citizen Updates Feed
        .field
          %label{:for => "widget_id"} Widget ID
          %br/
        %input#widget_id{:name => "feed[widget_id]", :size => "30", :type => "text", :value => @feed.widget_id}/
        .info Go to <a href="https://twitter.com/settings/widgets">https://twitter.com/settings/widgets</a>, create your widget and paste here the ID (you can get it from the generated code, right below preview area)
      .actions
        %input{:name => "commit", :type => "submit", :value => "Update Info", :class => 'admin-btn switch-on'}/

  #confirm-off-panel.modal
    .message Are you sure you want to switch to Preview Mode?
    %form#turn-off-form{"accept-charset" => "UTF-8", :action => "/admin/modes/1", :method => "post", :novalidate => "novalidate"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "_method", :type => "hidden", :value => "put"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
      %input{ name: "mode_action", type: "hidden", value: "switch"}
      %input{name: "commit", type: "submit", value: "Switch to Preview Mode", :class => 'admin-btn switch-off'}
      = link_to "Cancel", "#close-modal", rel: "modal:close", class: "admin-btn black-btn"

- if !@is_crisis_mode
  #lastCrisisInfo{style: 'display:none'}
    .lastcrisis-title #{@last_crisis_mode_info.title}
    .lastcrisis-text #{@last_crisis_mode_info.text}
    .lastcrisis-recommendation_1_title #{@last_crisis_mode_info.recommendation_1_title}
    .lastcrisis-recommendation_1_text #{@last_crisis_mode_info.recommendation_1_text}
    .lastcrisist-recommendation_2_title #{@last_crisis_mode_info.recommendation_2_title}
    .lastcrisis-recommendation_2_text #{@last_crisis_mode_info.recommendation_2_text}
    .lastcrisis-recommendation_3_title #{@last_crisis_mode_info.recommendation_3_title}
    .lastcrisis-recommendation_3_text #{@last_crisis_mode_info.recommendation_3_text}
