= javascript_include_tag "jquery"
= javascript_include_tag "jquery.modal"
= javascript_include_tag "admin-no-cms"
= stylesheet_link_tag "jquery.modal"
= stylesheet_link_tag "admin_no_cms"
!!!
%html
  %head
    %script{:src => "/assets/application.js?body=1", :type => "text/javascript"}
    = csrf_meta_tag
  %body
    %h1 Crisis mode configuration
    
    - if @mode.em_mode
      %button#update_crisis_info.admin-btn.orange-btn Update info
      %button#turn-off-btn.admin-btn.black-btn Turn OFF
    - else
      %button#turn-on-btn.admin-btn.orange-btn Turn it ON


    #modal-panel.modal
      %form#edit_mode{"accept-charset" => "UTF-8", :action => "/admin/modes/1", :method => "post", :novalidate => "novalidate"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "_method", :type => "hidden", :value => "put"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
        %input{ name: "mode[em_mode]", type: "hidden", value: "1", checked: @mode.em_mode }
        .form-section.describe-incident
          %h2
            .circle 1 
            Describe the incident
          .field
            %label{:for => "title"} Title
            %br/
            %input#title{:name => "mode[title]", :size => "30", :type => "text", :value => @mode.title}/
          .field
            %label{:for => "text"} Text
            %br/
            %input#text{:name => "mode[text]", :size => "30", :type => "text", :value => @mode.text}/
        .form-section.configure-updates
          %h2
            .circle 2 
            Configure the Citizen Updates Feed
          .field
            %label{:for => "widget_id"} Widget ID
            %br/
          %input#widget_id{:name => "feed[widget_id]", :size => "30", :type => "text", :value => @feed.widget_id}/
          .info Go to <a href="https://twitter.com/settings/widgets">https://twitter.com/settings/widgets</a>, create your widget and paste here the ID (you can get it from the generated code, right below preview area)
        .form-section.what-should-i-do
          %h2
            .circle 3
            What should I do?
            .clear
            .field
              %h3 Recommendation #1
              %input{name: 'mode[recommendation_1_title]', type: 'text', value: @mode.recommendation_1_title}
              %textarea{name: 'mode[recommendation_1_text]'} #{@mode.recommendation_1_text}
            .field
              %h3 Recommendation #2
              %input{name: 'mode[recommendation_2_title]', type: 'text', value: @mode.recommendation_2_title}
              %textarea{name: 'mode[recommendation_2_text]'} #{@mode.recommendation_2_text}
            .field
              %h3 Recommendation #3
              %input{name: 'mode[recommendation_3_title]', type: 'text', value: @mode.recommendation_3_title}
              %textarea{name: 'mode[recommendation_3_text]'} #{@mode.recommendation_3_text}
            .clear
        .actions
          %input{:name => "commit", :type => "submit", :value => "Update Crisis Mode", :class => 'admin-btn orange-btn'}/

    #confirm-off-panel.modal
      .message Are you sure you want to turn off the Crisis mode?
      %form#turn-off-form{"accept-charset" => "UTF-8", :action => "/admin/modes/1", :method => "post", :novalidate => "novalidate"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "_method", :type => "hidden", :value => "put"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
        %input{name: "mode[em_mode]", type: "hidden", value: "0"}
        %input{name: "commit", type: "submit", value: "Turn it OFF", :class => 'admin-btn orange-btn'}
        = link_to "Cancel", "#close-modal", rel: "modal:close", class: "admin-btn black-btn"
