<%= stylesheet_link_tag "login", :media => "all" %>
<div class="container">
  <div class="form-signin">
    <h2 class="form-signin-heading">Edit Admin User</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :email, :autofocus => true, :required => true %>
        <%= f.input :current_password, :required => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", :class => "btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="form-signin">
    <h2 class="form-signin-heading">Change Password</h2>

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :current_password, :required => true %>
        <%= f.input :password, :autocomplete => "off", :required => true %>
        <%= f.input :password_confirmation, :required => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change password", :class => "btn-lg btn-primary" %>
      </div>
    <% end %>

    <div class="bottom-links">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>