<%= stylesheet_link_tag "login", :media => "all" %>
<div class="container">
  <% if (@section == 'email') %>
    <div class="form-signin">
      <h2 class="form-signin-heading">Change Email</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, section: 'email'), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :form_name, value: 'edit_admin_user' %>
        <div class="form-inputs">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :email, :autofocus => true, :required => true %>
          <div class="form-group <%= 'has-error' if (@form_name == 'edit_admin_user' && resource.errors.has_key?(:current_password)) %>">
            <%= f.label :current_password, :required => true %> 
            <%= f.input_field :current_password %>
            <% if (@form_name == 'edit_admin_user') %>
              <%= f.error :current_password %>
            <% end %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change email", :class => "btn-lg btn-primary" %>
          <%= link_to "Cancel", :back, class: 'btn btn-default btn-lg' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if (@section == 'password') %>
    <div class="form-signin">
      <h2 class="form-signin-heading">Change Password</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, section: 'password'), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :form_name, value: 'edit_password' %>
        <div class="form-inputs">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <div class="form-group <%= 'has-error' if (@form_name == 'edit_password' && resource.errors.has_key?(:current_password)) %>">
            <%= f.label :current_password, :required => true %>
            <%= f.input_field :current_password %>
            <% if (@form_name == 'edit_password') %>
              <%= f.error :current_password %>
            <% end %>
          </div>
          <%= f.input :password, :autocomplete => "off", :required => true, :label => "New Password" %>
          <%= f.input :password_confirmation, :required => true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change password", :class => "btn-lg btn-primary" %>
          <%= link_to "Cancel", :back, class: 'btn btn-default btn-lg' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>