.header
  %a.logo{href:"/home"}
    #logo{ height: "100", width: "150"}
      - if @about.logo.url
        %img{src: "#{@about.logo.url}", alt: "#{@city.abbreviation}72 (logo)"}
      - else
        %span.text-logo #{@city.abbreviation}72
  %a.logo-mobile{href:"/home"}
  %ul.main-nav
    %li
      %a{href:"/connect"}
        %strong Get<br>Connected
    %li
      %a{href:"/supplies"}
        %strong Gather<br>Supplies
    %li
      %a{href:"/stories"}
        %strong View<br>Stories
    %li
      %a{href:"/plan"}
        %strong Make<br>a Plan
    %li.em-link
      %a{href:"/em/home"}
        %strong  #{@city.abbreviation}72 Map & Updates
  - unless browser.ie?
    .mobile-menu
      .normal-mode
        %ul.main-nav
          %li
            %a{href:"/home"}
              %strong Home
          %li
            %a{href:"/connect"}
              %strong Get Connected
          %li
            %a{href:"/supplies"}
              %strong Gather Supplies
          %li
            %a{href:"/stories"}
              %strong View Stories
          %li
            %a{href:"/plan"}
              %strong Make a Plan
          %li.em-link
            %strong #{@city.abbreviation}72 Now Updates
            .fold
              %p Live updates + crisis tools in an emergency.
              %ul
                %li.em-li
                  %a{href:"/em/home#mobile-maps"} Situation Map
                %li.em-li
                  %a{href:"/em/home#mobile-updates"} Updates
