.header
  %a.logo{href:"/home"}
    #logo{ height: "100", width: "150"}

      //%img{src: "/assets/city72-logo.png", alt: "#{@city.abbreviation}72 (logo)"}
      %img{src: "#{@about.logo.url || '/assets/city72-logo.png'}", alt: "#{@city.abbreviation}72 (logo)"}
      %span.text-logo #{@city.abbreviation} <strong>72</strong>
  %a.logo-mobile{href:"/home"}
  %ul.main-nav
    %li
      %a{href:"/connect"}
        %strong Get<br>Connected
    %li
      %a{href:"/supplies"}
        %strong Gather<br>Supplies
    %li
      %a{href:"/stories"}
        %strong View<br>Stories
    %li
      %a{href:"/plan"}
        %strong Make<br>a Plan
    %li.em-link
      %a{href:"/em/home"}
        %strong  #{@city.abbreviation}72 Now Updates
  - unless browser.ie?
    .mobile-menu
      .normal-mode
        %ul.main-nav
          %li
            %a{href:"/home"}
              %strong Home
          %li
            %a{href:"/connect"}
              %strong Get Connected
          %li
            %a{href:"/supplies"}
              %strong Gather Supplies
          %li
            %a{href:"/stories"}
              %strong View Stories
          %li
            %a{href:"/plan"}
              %strong Make a Plan
          %li.em-link
            %strong #{@city.abbreviation}72 Now Updates
            .fold
              %p Live updates + crisis tools in an emergency.
              %ul
                %li.em-li
                  %a{href:"/em/home#mobile-maps"} Situation Map
                %li.em-li
                  %a{href:"/em/home#mobile-updates"} Updates

        / .menu-mobile-heading Crisis mode
        / %ul.main-nav
        /  %li.js-button-li
        /    %a{href:"/em/home#mobile-quick-guide"}
        /      %strong What to do
        /  %li.js-button-li
        /    %a{href:"/em/home#mobile-maps"}
        /      %strong Map
        /  %li.js-button-li
        /    %a{href:"/em/home#mobile-updates"}
        /      %strong Updates
