= provide(:title, 'About Us')
.main-container.about
	= render :partial => "partials/header"
	.opening.about-intro{:style => ("background-image: url(#{@about.image.url})" unless @about.image.blank?)}
		%h1
			= t(:for_us_by_us)
		%div
			%p
				= t(:our_mission)
	%ul.about-data
		%li
			.about-who
			%h2
				= t(:who)
			%p
				= t(:who_p1)
			%p
				= t(:who_p2)
		%li
			.about-what
			%h2
				= t(:what)
			%p
				= t(:what_p1)
			%p
				= t(:what_p2)
		%li
			.about-why
			%h2
				= t(:why)
			%p
				= t(:why_p1)
			%p
				= t(:why_p2)

	- if !@about.photographer_1.blank?
		.image-credits
			%h2
				= t(:image_credits)
			%p
				Stephen Taxiera

				-# Some images generously provided through the Creative Commons licensing format by:
				-# - if !@about.photographer_1.blank?
				-# 	= link_to @about.photographer_1, @about.photographer_1_url, target: '_blank'
				-# - if !@about.photographer_2.blank?
				-# 	,
				-# 	= 'and' if @about.photographer_3.blank?
				-# 	= link_to @about.photographer_2, @about.photographer_2_url, target: '_blank'
				-# - if !@about.photographer_3.blank?
				-# 	,
				-# 	= 'and' if @about.photographer_4.blank?
				-# 	= link_to @about.photographer_3, @about.photographer_3_url, target: '_blank'
				-# - if !@about.photographer_4.blank?
				-# 	,
				-# 	= 'and' if @about.photographer_5.blank?
				-# 	= link_to @about.photographer_4, @about.photographer_4_url, target: '_blank'
				-# - if !@about.photographer_5.blank?
				-# 	, and
				-# 	= link_to @about.photographer_5, @about.photographer_5_url, target: '_blank'
				-# = "."
	= render :partial => "partials/footer"