= provide(:title, 'Get Connected')
= javascript_include_tag "mailchimp"
= javascript_include_tag "connect"
.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1 Preparedness is all about people.
    %div
      %p When disaster strikes, we come together to help each other. Getting prepared is about knowing your neighbors, saying hi to the regulars at the local market, and staying in touch with family and friends—both digitally and in person.
  .existing-networks
    .use
      %h2 Connect through your<br /> digital networks.
      %p.intro-networks In the event of an emergency, we all turn to our existing tools and networks—many of which are digital. Think about your connections and the online communities you’re already a part of, so you can share updates and information when something happens.
    .know
      %h3 Learn about #{@city.abbreviation}72.
      %p Find out the story behind the creation of #{@city.abbreviation}72.
      %a{href:"about"} About Us
  .networks-list
    %ul
      %li.facebook
        %h3 Use your</br>Facebook account
        %p <strong>Now:</strong> Create a Facebook group with your inner circle so you can easily send messages, share supplies, and make a plan together. Like <a href="http://#{@city_connection.facebook_page_url}" target="_blank">#{@city.abbreviation}72</a> on Facebook.
        %p <strong>In an emergency:</strong> Post your status to Facebook to let friends and family know you are ok.
      %li.twitter
        %h3 Check updates</br>on Twitter
        %p <strong>Now:</strong> Add emergency accounts to your Twitter feed, to stay informed. Some of our favorites: #{tweeter_accounts(@city_connection.twitter_accounts).html_safe}.
        %p <strong>In an emergency:</strong> Post about yourself and your area. Use <a href="https://twitter.com/search?q=%23#{@city.abbreviation}72" target="_blank">##{@city.abbreviation}72</a> to include them in the crowdsourced emergency feed.
      %li.drive
        %h3 Save documents to</br>a cloud service
        %p <strong>Now:</strong> Scan personal documents like your driver’s license, passport, and birth certificate. Save digital copies in the cloud through Google Drive or Dropbox.
        %p <strong>In an emergency:</strong> Access your documents remotely in case you can't get home. Know that there is a safe copy in the cloud.
      - @city_connection.city_networks.included.each do |cn|
        %li
          - unless cn.logo.blank?
            = image_tag(cn.logo.common.url, alt: cn.headline)
          %h3
            = cn.headline
          %p.now
            <strong>Now:</strong>
            = cn.now
          %p.emergency
            <strong>In an emergency:</strong>
            = cn.in_an_emergency
          %a{:href => "http://#{cn.network_url}", :target => "_blank"} Start now

  .full-img-article
    %ul
      %li.use
        %h3 Connect through</br>your local networks.
        %p Your neighborhood networks are important in an emergency too—consider the connections you already have—to your yoga studio, craft collective, spiritual groups, or friends in the neighborhood—so you can band together if something happens.
      %li.what
        %h3 How to</br>Connect
        %ul.your-net
          %li.net-first
            %ul
              %li My yoga class
              %li My workplace
              %li My book club
          %li.net-second
            %ul
              %li My neighborhood bar
              %li My school
              %li My congregation
  .learn-more
    %h3 Learn more from our partners.
    %p To get even better prepared as a household, neighborhood, or community, connect with these organizations.
    %ul
      - @city_connection.city_resources.included.each do |cr|
        %li
          %a.partner-logo{:href => "http://#{cr.website}", :target => "_blank"}
            - unless cr.logo.blank?
              = image_tag(cr.logo.common.url, alt: cr.name)
          %p <strong>#{cr.name}</strong> 
          %p #{cr.description}
          %a{:href => "http://#{cr.website}", :target => "_blank"}
            = cr.website

  = render :partial => "partials/footer"