= provide(:title, 'Get Connected')
= javascript_include_tag "mailchimp"
= javascript_include_tag "connect"
.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1
      = t(:allabout)
    %div
      %p
        = t(:connectmain)
  .existing-networks
    .use
      %h2
        = t(:networks)
      %p.intro-networks
        = t(:inevent)
    .know
      %h3
        = t(:learnabout)
      %p
        = t(:learnaboutdetails)
      %a{href:"about"}
        = t(:aboutus)
  .networks-list
    %ul
      %li.facebook
        %h3
          = t(:useface)
        %p
          %strong
            =t(:now)
            <br/>
          =t(:whyface)
        %p
          %strong
            =t(:in_an_emergency_heading)
            <br/>
          =t(:face_emergency)

      %li.twitter
        %h3
          =t(:use_twitter)
        %p
          %strong
            =t(:now)
            <br/>
          =t(:use_twitter_now)
        %p
          %strong
            =t(:in_an_emergency_heading)
          =t(:use_twitter_emergency)

      %li.drive
        %h3
          =t(:use_cloud)
        %p
          %strong
            =t(:now)
          =t(:use_cloud_now)
        %p
          %strong
            =t(:in_an_emergency_heading)
            <br/>
          =t(:use_cloud_emergency)


      %li.nixle
        %h3
          = t(:usenixle)
        %p.now
          %strong
            =t(:now)
            <br/>
          =t(:whynixle)
        %p
          %strong
            =t(:in_an_emergency_heading)
            <br/>
          =t(:nixle_emergency)
        %a{:href => "https://nixle.com/city/ca/oakland/", :target => "_blank"}
          =t(:start_now)


  .full-img-article
    %ul
      %li.use
        %h3
          =t(:neighborhood_networks)
        %p
          =t(:neighborhood_networks_why)
      %li.what
        %h3
          =t(:how_to_connect)
        %ul.your-net
          %li.net-first
            %ul
              %li
                =t(:my_yoga)
              %li
                =t(:my_workplace)
              %li
                =t(:my_bookclub)
          %li.net-second
            %ul
              %li
                =t(:my_bar)
              %li
                =t(:my_school)
              %li
                =t(:my_congregation)
  .learn-more
    %h3
      =t(:learn_from_partners)
    %p
      =t(:connect_with_organizations)

    %ul
      %li
        %p
          %strong
            =t(:partner1)
          =t(:partner1_description)
      %li
        %p
          %strong
            =t(:partner2)
          =t(:partner2_description)
      %li
        %p
          %strong
            =t(:partner3)
          =t(:partner3_description)



  = render :partial => "partials/footer"