= provide(:title, 'Get Connected')
= javascript_include_tag "mailchimp"
= javascript_include_tag "connect"
.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1 
      = t(:allabout)
    %div
      %p 
        = t(:connectmain)
  .existing-networks
    .use
      %h2 
        = t(:networks)
      %p.intro-networks 
        = t(:inevent)
    .know
      %h3 
        = t(:learnabout)
      %p 
        = t(:learnaboutdetails)
      %a{href:"about"} 
        = t(:aboutus)
  .networks-list
    %ul
      %li.facebook
        %h3 
          = t(:useface)

        %p 
        
          =t(:now) 

          <br/>
          =t(:whyface)
             
        %p
        =t(:in_an_emergency_heading) 
        <br/>
        =t(:face_emergency)
  
      %li.twitter
        %h3 Check updates</br>on Twitter
        %p <strong>Now:</strong> Add emergency accounts to your Twitter feed, to stay informed. Some of our favorites: #{tweeter_accounts(@city_connection.twitter_accounts).html_safe}.
        %p <strong>In an emergency:</strong> Post about yourself and your area. Use <a href="https://twitter.com/search?q=%23#{@city.abbreviation}72" target="_blank">##{@city.abbreviation}72</a> to include them in the crowdsourced emergency feed.
      %li.drive
        %h3 Save documents to</br>a cloud service
        %p <strong>Now:</strong> Scan personal documents like your driver’s license, passport, and birth certificate. Save digital copies in the cloud through Google Drive or Dropbox.
        %p <strong>In an emergency:</strong> Access your documents remotely in case you can't get home. Know that there is a safe copy in the cloud.
      - @city_connection.city_networks.included.each do |cn|
        %li
          - unless cn.logo.blank?
            = image_tag(cn.logo.common.url, alt: cn.headline)
          %h3
            = cn.headline
          %p.now
            <strong>Now:</strong>
            = cn.now
          %p.emergency
            <strong>In an emergency:</strong>
            = cn.in_an_emergency
          %a{:href => "http://#{cn.network_url}", :target => "_blank"} Start now

  .full-img-article
    %ul
      %li.use
        %h3 Connect through</br>your local networks.
        %p Your neighborhood networks are important in an emergency too—consider the connections you already have—to your yoga studio, craft collective, spiritual groups, or friends in the neighborhood—so you can band together if something happens.
      %li.what
        %h3 How to</br>Connect
        %ul.your-net
          %li.net-first
            %ul
              %li My yoga class
              %li My workplace
              %li My book club
          %li.net-second
            %ul
              %li My neighborhood bar
              %li My school
              %li My congregation
  .learn-more
    %h3 Learn more from our partners.
    %p To get even better prepared as a household, neighborhood, or community, connect with these organizations.
    %ul
      - @city_connection.city_resources.included.each do |cr|
        %li
          %a.partner-logo{:href => "http://#{cr.website}", :target => "_blank"}
            - unless cr.logo.blank?
              = image_tag(cr.logo.common.url, alt: cr.name)
          %p <strong>#{cr.name}</strong> 
          %p #{cr.description}
          %a{:href => "http://#{cr.website}", :target => "_blank"}
            = cr.website

  = render :partial => "partials/footer"