= provide(:title, 'Get Connected')
= javascript_include_tag "mailchimp"
= javascript_include_tag "connect"
.main-container.connect
  = render :partial => "partials/header"
  .opening
    %h1 
      = t(:allabout)
    %div
      %p 
        = t(:connectmain)
  .existing-networks
    .use
      %h2 
        = t(:networks)
      %p.intro-networks 
        = t(:inevent)
    .know
      %h3 
        = t(:learnabout)
      %p 
        = t(:learnaboutdetails)
      %a{href:"about"} 
        = t(:aboutus)
  .networks-list
    %ul
      %li.facebook
        %h3 
          = t(:useface)
        %p
          %strong
            =t(:now) 
            <br/>
          =t(:whyface)   
        %p
          %strong
            =t(:in_an_emergency_heading) 
            <br/>
          =t(:face_emergency)
  
      %li.twitter
        %h3 
          =t(:use_twitter)
        %p
          %strong
            =t(:now) 
            <br/>
          =t(:use_twitter_now)
        %p
          %strong
            =t(:in_an_emergency_heading)
          =t(:use_twitter_emergency)
        
      %li.drive
        %h3
          =t(:use_cloud)
        %p
          %strong
            =t(:now)
          =t(:use_cloud_now)
        %p
          %strong
            =t(:in_an_emergency_heading)
            <br/>
          =t(:use_cloud_emergency) 

      %li.airbnb
        %h3 
          = t(:useair)
        %p 
          %strong       
            =t(:now) 
            <br/>
          =t(:whyair)          
        %p
          %strong
            =t(:in_an_emergency_heading) 
            <br/>
          =t(:air_emergency)
        %a{:href => "https://airbnb.com", :target => "_blank"}
          =t(:start_now)

      %li.neighbors
        %h3 
          = t(:door)
        %p
          %strong      
            =t(:now) 
            <br/>
          =t(:door_now)
        %p
          %strong
            =t(:in_an_emergency_heading) 
            <br/>
          =t(:door_emergency)
        %a{:href => "https://nextdoor.com", :target => "_blank"}
          =t(:start_now)

      %li.nixle
        %h3 
          = t(:usenixle)
        %p.now 
          %strong 
            =t(:now) 
            <br/>
          =t(:whynixle)          
        %p
          %strong
            =t(:in_an_emergency_heading) 
            <br/>
          =t(:nixle_emergency)
        %a{:href => "https://nixle.com/city/ca/oakland/", :target => "_blank"}
          =t(:start_now)
          


        
      - @city_connection.city_networks.included.each do |cn|
        %li
          - unless cn.logo.blank?
            = image_tag(cn.logo.common.url, alt: cn.headline)
          %h3
            = cn.headline
          %p.now
            <strong>Now:</strong>
            = cn.now
          %p.emergency
            <strong>In an emergency:</strong>
            = cn.in_an_emergency
          %a{:href => "http://#{cn.network_url}", :target => "_blank"} Start now

  .full-img-article
    %ul
      %li.use
        %h3 
        =(:use_local_networks)
        %p 
        =(:use_local_networks_why)
      %li.what
        %h3 
        =(:how_to_connect)
        %ul.your-net
          %li.net-first
            %ul
              %li
              =(:my_yoga)
              %li
              =(:my_workplace)
              %li
              =(:my_bookclub)
          %li.net-second
            %ul
              %li
              =(:my_bar)
              %li
              =(:my_school)
              %li
              =(:my_congregation)
  .learn-more
    %h3 
    =(:learn_from_partners)
    %p 
    =(:connect_with_organizations)
    %ul
      - @city_connection.city_resources.included.each do |cr|
        %li
          %a.partner-logo{:href => "http://#{cr.website}", :target => "_blank"}
            - unless cr.logo.blank?
              = image_tag(cr.logo.common.url, alt: cr.name)
          %p <strong>#{cr.name}</strong> 
          %p #{cr.description}
          %a{:href => "http://#{cr.website}", :target => "_blank"}
            = cr.website

  = render :partial => "partials/footer"