= stylesheet_link_tag "joyride-2.1"
= javascript_include_tag "jquery.joyride-2.1"
= javascript_include_tag "froogaloop.min"
= javascript_include_tag "em"
.home-em
  .wrapper.em-header
    = render :partial => "partials/header"
  .alert-wide
    .wrapper
      .alert-info
        %h3 8.3 Earthquake on San Andreas Fault
        %p An 8.3 earthquake struck the San Andreas fault on Thursday at 5:56 am.
      .em-quick-guide-trigger
        %a.show-quick-guide{src:"#"} What should I do?
        %a.hide-quick-guide{src: "#"} Hide what to do
  .em-quick-guide#mobile-quick-guide
    .wrapper
      %h3 Quick Guide
      %ol.quick-guide
        %li
          %h2 Leave a trail.
          %p If you leave home, leave a sign telling friends and family your location. Digitaly savvy? Send a tweet or Facebook update telling everyone know that you’re ok.
        %li
          %h2 Stay tuned.
          %p Listen to the radio for important information and instructions. Remember that aftershocks, which generally follow large quakes, can be large enough to cause damage in their own right.

        %li
          %h2 Check SF72.
          %p In the event of an emergency, this site will go into emergency mode and bring you live updates and tweets from around the city, information on missing persons, and ways you can help.
  .map-container#mobile-maps
    .wrapper
      .map-heading
        %h3 Crisis Map
      .map-actions
        %a.map-tips-trigger{href:"#"} Show map tips
    .map-area
      %iframe.map{src: "http://google.org/crisismap/a/ideo.com/SF72test?hl=en&llbox=37.801668%2C37.791749%2C-122.409517%2C-122.42915&t=ROADMAP&layers=1%2Clayer0%2Clayer1&embedded=true", height: "458"}
  #mobile-updates
    .tw-tabs-container
      %ul.tw-tabs
        %li.active
          %a#citizen-updates-tab{href:"#tab-citizen-updates"}
            %h3 Citizen Updates
            %span Via Twitter
        %li 
          %a{href:"#tab-official-reports"}
            %h3 Official Reports
            %span From SFDEM
        %li 
          %a#transportation-updates-tab{href:"#tab-service-status"}
            %h3 Service Status
            %span 511 Priority Alerts
      %ul.tw-tabs-mobile
        %li.active
          %a{href:"#tab-citizen-updates"}
            %h3 Citizen
        %li 
          %a{href:"#tab-official-reports"}
            %h3 Official
        %li 
          %a{href:"#tab-service-status"}
            %h3 Service
    .main-container
      .updates    
        .citizen-reports
          <style type="text/css">#twitter-widget-0{width:720px;}</style>
          <a class="twitter-timeline" data-widget-id="#{@citizen_feed.widget_id}" width="520" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .official-reports
          <style type="text/css">#twitter-widget-1{width:720px;}</style>
          <a class="twitter-timeline" data-widget-id="364807510647001088" width="520" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        .status
          %h3 Service Status
          %span 511 Priority Alerts
          <style type="text/css">#twitter-widget-1{width:720px;}</style>
          <a class="twitter-timeline" data-widget-id="365523273829732352" width="520" height="660" data-chrome="noheader nofooter noborders" data-aria-polite="assertive"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %ul.tw-tabs-mobile
      %li.active
        %a{href:"#tab-citizen-updates"}
          %h3 Citizen
      %li 
        %a{href:"#tab-official-reports"}
          %h3 Official
      %li 
        %a{href:"#tab-service-status"}
          %h3 Service
    .modal-wrapper
      .em-preview-modal.modal
        .intro-video
          %iframe.video-opening#video-opening{src: "http://player.vimeo.com/video/57727292?api=1&player_id=video-opening"}
        .tour-intro
          %h2 SF72 Crisis Mode
          %h3 The city&apos;s hub for emergency response.
        .tour-intro-step2
          %p Okay, so it might not look exactly like Godzilla attacking our City by the Bay, but a San Francisco emergency will leave a lot of us wondering what to do, and how to connect.
          %p In the event of an emergency, SF72.org will automatically go into Crisis Mode, where you can access a stream of offical updates, crowdsourced reports, and a crisis map that tells you how to navigate the city. 
          %p Take a tour through SF72 Crisis Mode to better understand how to use this resource, in the event of a real (non-reptile) disaster.
          %a.btn{href:"#"} Take a tour
%ol#joyride-steps{"style" => "display:none"}
  %li{"data-class" => "alert-info"}
    .icon.icon-info
    %h4.header Incident Bar
    %p.description Announces the incident and its severity. Click on “What should I do?” to get next steps. 
    %p.index 1 of 5
  %li{"data-class" => "map-container"}
    .icon.icon-map-on
    %h4.header Street Status
    %p.description A geo-tagged crisis map that shows nearby shelters and resources, as well as hazardous or road-blocked areas – so you can find safety in your surroundings.
    %p.index 2 of 5
  %li{"data-id" => "citizen-updates-tab"}
    .icon.icon-twitter-big-on
    %h4.header  Crowdsourced Updates
    %p.description A live stream of crowdsourced updates from Twitter – so you can get a full picture of what’s going on.
    %p.index 3 of 5
  %li{"data-id" => "transportation-updates-tab"}
    .icon.icon-alert
    %h4.header Official Updates
    %p.description Up-to-date content from official city sources that will keep you informed during a crisis – so you can know exactly what is happening, when it happens.
    %p.index 4 of 5
  %li{"data-class" => "citizen-reports"}
    .icon.icon-transport
    %h4.header Transportation Alerts
    %p.description Up-to-date information about what the status of public transportation – so you can navigate the city quickly, easily, and safely.
    %p.index 5 of 5
= render :partial => "partials/footer"