= javascript_include_tag "home"
.main-container.home
  = render :partial => "partials/header"
  .page-intro
    .big-title{:style => "background-image: url(#{@city.image_url || "/assets/placeholder-home.jpg"})"}
      %h1
        = t(:hero_image_text, city_abbrev: @city.abbreviation, city_possessive: @city.possessive, city_name: @city.name)
  .questions
    %ul
      %li
        %h2 
          = t(:what_is, city_abbrev: @city.abbreviation)
        %span 
          = t(:what_text, city_abbrev: @city.abbreviation)
      %li
        %h2 
          = t(:why_72, city_abbrev: @city.abbreviation)
        %span 
          = t(:why_text)
  .connection{:style => "background-image: url(#{@city.resident_image.url || "assets/placeholder-residents.jpg"})"}
    %div
      %h2 
        = t(:moto_part1)
        </br>
        = t(:moto_part2)
      %span 
        = t(:moto_explained, city_abbrev: @city.abbreviation)
  .learn
    %h1 
      = t(:good_news)
      </br>
      = t(:learn_more)
    %ul
      %li
        %a.learn-connect{href:"/connect"}
          %h2 
            = t(:gc_part1)
            </br>
            = t(:gc_part2)
          %p 
            = t(:gc_explained)
      %li
        %a.learn-supplies{href:"/supplies"}
          %h2 
            = t(:sup_part1)
            </br>
            = t(:sup_part2)
          %p 
            = t(:sup_explained)
      %li
        %a.learn-plan{href:"/plan"}
          %h2 
            = t(:mp_part1)
            </br>
            = t(:mp_part2)
          %p 
            = t(:mp_explained)
  = render :partial => "partials/footer"