= provide(:title, 'Our Manifesto')
.main-container.manifesto
	= render :partial => "partials/header"
	.page-intro
		.big-title
	.intro-row
		.main-intro
			%h2 Our manifesto.
			%p #{@city.name}  is pretty&hellip; different. Some might even say it&apos;s seven square miles of contradictions.
			%p #{@city.name} is the fog, the farmer&apos;s market, the costume box in every closet. It&apos;s the $5 cup of coffee next to the $1 taco. It&apos;s where optimism meets work ethic. It&apos;s the nudists and the startups, the hippies, the idealists, the lifers, the transplants. This city might be the only thing we all have in common.
			%p <strong>This is our city.</strong>
			%p By living here, we&apos;ve all embraced a way of life that&apos;s about being on the edge – of social change, technology, even nature. After all, the ocean, the hills and the fault lines are #{@city.name} too. So let&apos;s take care of the people and the place we love. Let&apos;s take stock of our skills and resources. Let&apos;s not wait until a disaster to show how connected we are.
			%p <strong>Let&apos;s start small and go from there. Together.</strong>
		.aside
			/ %div.highlighted We believe in connection, not catastrophe.
			%div.download-manifesto
				%a{href:"/pdf/SF72_manifesto.pdf"}Download manifesto.

	= render :partial => "partials/footer"