= provide(:title, 'Make a Plan')
= javascript_include_tag "home"
.main-container.plan
  = render :partial => "partials/header"
  .opening.em-plan{:style => "background-image: url(#{@plan.community_image.url || "assets/placeholder-plan.jpg"})"}
    %h1 Make a plan with your people.
    %div
      %p Emergency planning can feel overwhelming. We’ve broken it down into simple steps and provided tools that will make it feel do-able. The same connections that are important in everyday life—with friends, family, neighbors, and communities—are even more crucial in a crisis.
  .meet-up
    %h2 Set up your meet up.
    %p First, make an emergency plan with your inner circle of friends, relatives, or immediate family. That way, you will each know what to do in an emergency.
  .plan-basics
    %h2 What basics does your plan need to include?
    .plan-list
      %ul
        %li.select <strong>Select a few of your nearest and dearest.</strong> Who’s the group you’ll want to get in touch with if something happens?
        %li.pick <strong>Pick an out of state contact.</strong> Who can serve as a hub for information, if you can’t reach others in your local area?
        %li.agree <strong>Agree on a place to meet. </strong> How about a park? A landmark? Don’t choose a house—in case it’s inaccessible.
  .basics-slider{:class => (@before_tips.empty?)? "": "js-has-before"}
    %h2 Learn tips.
    %p Read and print our #{@quick_guide.title} Guide to learn a few easy steps to stay safe.
    .slider-header
      %ul.basics-tabs
        - unless @before_tips.empty?
          %li.active
            %a.trigger-before{href:"#tab-before"} Before<span class="event-name"> a #{@quick_guide.title}</span>
        %li{:class => (@before_tips.empty?)? "active": ""}
          %a.trigger-during{href:"#tab-during"} During<span class="event-name"> a #{@quick_guide.title}</span>
        %li
          %a.trigger-after{href:"#tab-after"} After<span class="event-name"> a #{@quick_guide.title}</span>
      %a.quick-list-trigger{href:"quick_guide"} Print Full Guide
    .slider-body
      - unless @before_tips.empty?
        .slider-before
          %ol.slider.quick-guide
            - @before_tips.each do |tip|
              %li
                %h2
                  = tip.title.html_safe
                %p
                  = tip.description.html_safe
      .slider-during
        %ol.slider.quick-guide
          - @during_tips.each do |tip|
            %li
              %h2
                = tip.title.html_safe
              %p
                = tip.description.html_safe
      .slider-after
        %ol.slider.quick-guide
          - @after_tips.each do |tip|
            %li
              %h2
                = tip.title.html_safe
              %p
                = tip.description.html_safe
  = render :partial => "partials/footer"