= provide(:title, 'Prepare')
.main-container.prepare
  = render :partial => "partials/header"
  .page-intro
    .big-title
      %h1 Prepare
      %span Stories, tools & resources
      .tooltip 
        .tooltip-content <strong>1/2 full?</strong> or half empty, depending on how your day is going.
    .intro-row
      .main-intro
        %h2 Protect your happy place.
        %p Emergency preparation can feel overwhelming. We’ve broken it down to simple steps that feel do-able. Make a meetup plan. Use your social networks to start a conversation. Talk to a neighbor. Gather the supplies you already have. A lot of small acts can make a big difference.
        .make-plan
          %h2 Make a plan.
          %p A little foresight can go a long way. Make a meetup plan with your inner circle of friends, relatives, or immediate family.
          %a{href: "/pdf/SF72_prepare_plan.pdf"} Download the pdf
      .aside
        .get-connected There are many ways to prepare and get connected. Print and fill out this guide now. Download and use the <a href="connect">#{@city.abbreviation}72 App</a> when it launches.
  .prepare-sections
    %a.prepare-things{href:"supplies"}
      %h2 Find out what you need. 
      %p Getting emergency supplies together is easier than you think. If you’re a beginner, start with the essentials, and gather your gear in a central place.
      %strong Go to supplies
  %div.existing-networks
    %h2 Use your networks.
    %p.intro-networks In the event of an emergency, you will rely on your existing networks &ndash; both digital and physical. Think about the connections and communities you’re part of, so you can band together if something happens.
    %ul.networks-list
      %li.facebook
        %h3 Facebook
        %p <strong>Now</strong> Create a Facebook group with your inner circle so you can easily send messages, share supplies, and make a plan together.
        %p <strong>In an emergency</strong> Post your status to let friends and family know that you are okay.
      %li.twitter
        %h3 Twitter
        %p <strong>Now</strong> Add emergency-related accounts to your Twitter feed, so you can stay informed. A few favorites: <a href="http://twitter.com/SF_Emergency">@SF_Emergency</a>, <a href="http://twitter.com/511SFBay">@511SFBay</a>, <a href="http://twitter.com/Emergency_In_SF">@Emergency_In_SF</a>.
        %p <strong>In an emergency</strong> Tweet updates about yourself and your surroundings. Use hashtag <a href="https://twitter.com/search?q=%23SF72">#SF72</a> to be included in our Crisis Mode feed.
      %li.airbnb
        %h3 Airbnb
        %p <strong>Now</strong> Create an Airbnb profile so you are ready to find or share a place to stay if anything happens.
        %p <strong>In an emergency</strong> Find a place to stay, or share your place with those in need.
  .prepare-sections
    %a.prepare-people{href:"stories"}
      %h2 Know what to expect.
      %p Take a peek into the lives of fellow <i class="to-replace-moniker">Citizens</i> who know a thing or two about disasters &ndash; and connection. <br />Watch, learn, and then take action.
      %strong Go to stories
  .talk-to-friends
    %h2 Reach out to your communities.
    %p What communities are a part of your life? Your yoga studio, local market, or apartment building might be the place to find support in the event of an emergency. By being more aware of your networks and surroundings, you’ll be ready to reach out, no matter what happens.
    .coming-kit
      %h4 <strong>Coming Soon!</strong> The #{@city.abbreviation}72 Community Action Kit
      %p.small Throw a preparedness party &ndash; or just start a conversation. We’ll send you everything you need to activate your network &ndash; from stickers and stencils to guides about sharing resources.
  = render :partial => "partials/footer"