= provide(:title, 'Quick Guide')
.main-container.quick-guide-page
	= render :partial => "partials/header"
	.basics
		%h2 During a #{@quick_guide.title}.
		%ol.quick-guide
			- @quick_guide.before_tips.each do |tip|
				%li
					%h2
						= tip.title
					%p
						= tip.description
		%h2.event-after After a #{@quick_guide.title}.
		%ol.quick-guide.second
			- @quick_guide.after_tips.each do |tip|
				%li
					%h2
						= tip.title
					%p
						= tip.description
		.quick-guide-share
			%ul.share-options
				%li
					%a.twitter{onClick: "twitterShare()"} Twitter
				%li
					%a.facebook{onClick: "facebookShare()"} Facebook
				%li
					%a.print{onClick: "window.print()"} Print
				%li
					%a.email{href: "mailto:someone@example.com?Subject=SF-72%20Quick%20Guide"} Share
			%p Spread the word!<br />There’s safety in numbers.