= javascript_include_tag "cms/spinner_save_btn"
.main-content.plan
  .screen-intro
    %p.screen-info Select an emergency to provide customized preparation instructions.
    .action-area
      %a.btn.btn-primary.ladda-button.js-save{:href => "#"} Save Changes

  = form_for @city.plan, url: cms_plan_path, method: :put, html: { class: "js-form"} do |f|
    .form-group
      %label{:for => "community-image"} Community Image
      %p.help-block Optionally, choose an evocative image of life in your city.
      = f.file_field(:community_image, :class => "form-control", :label => "Community Image")
      - if !@city.plan.community_image.blank?
        %img.preview{src: @city.plan.community_image}
      - else
        %img.preview{src: '/assets/placeholder-plan.jpg'}
    .form-group
      %label{:for => "select-plan"} What type of emergency is your area most at risk for?
      - QuickGuide.all.each do |q|
        .radio
          %label{:for => "plan_quick_guide_id_#{q.id}"}
            = f.radio_button(:quick_guide_id, q.id)
            %span= q.title.capitalize


    - unless flash.empty?
      .alert.alert-dismissable{:class => (flash.first[0] == :error)? "alert-danger" : "alert-success"}
        %button.close(data-dismiss="alert" aria-hidden="true") &times;
        %strong "#{ (flash.first[0] == :error)? "Error!" : "Saved!" }"
        = flash.first[1]

    .form-actions
      = content_tag :button, :type => :submit, :class => 'btn btn-primary js-save ladda-button' do
        %span.ladda-label Save Changes

