= provide(:title, 'View Stories')
= javascript_include_tag "home"
.main-container.stories
  = render :partial => "partials/header"
  
  .opening
    %div
      %p= @selected_story.story
    %span.story-about
      %h1= @selected_story.name
      %h2= @selected_story.location

  .intro
    .personal-look 
      %h2 A personal look at emergencies and connection.
      %p Watch stories of people who have lived through disasters—and those who are already fostering connections in #{@city.name}. No matter your situation, chances are, there’s someone like you with wisdom to share.

  %ul.story-list
    - @stories.each do |story|
      %li
        %img{src: "/assets/static/coming-soon-1.jpg", alt: "A new story coming soon"}
        .story-data
          %h4= story.name
          %h5.location= story.location
          %p.quote= story.story
          - if story.get_connected?
            = link_to 'Get Connected', connect_path
          - elsif story.gather_supplies?
            = link_to 'Gather Supplies', supplies_path
          - elsif story.make_a_plan?
            = link_to 'Make a plan', plan_path

  .statement
    %h2 Identity Statement
    %p= @city.statement
  = render :partial => "partials/footer"
