= provide(:title, 'View Stories')
= stylesheet_link_tag    "jquery.modal", :media => "all"
= javascript_include_tag "home"
= javascript_include_tag "jquery.modal"
= javascript_include_tag "video_modal"
.main-container.stories
  = render :partial => "partials/header"

  -# .intro-mobile
  -#   %p
  -#     = t(:watch_personal_stories)


  .opening{:style => ("background-image: url(#{@selected_story.image_url})" unless @selected_story.image.blank?), :class => (( @selected_story.video.blank?)? "": "js-has-video video-container"), :video => @selected_story.video}
    %span.story-about
      %h1
        = t(:stories_title)
    %div
      %p= @selected_story.story

  .intro
    .personal-look
      %h2
        = t(:a_personal_look)
      %p
        = t(:watch_personal_stories)

  -# %ul.story-list
  -#   - @stories.each do |story|
  -#     %li
  -#       - unless story.image.blank?
  -#         .img-container{ class: ((story.video.blank?)? "": "video-container") }
  -#           = image_tag(story.image_url, alt: story.name, class: ((story.video.blank?)? "": "js-has-video"), :video => story.video)
  -#       .story-data
  -#         %h4= story.name
  -#         %h5.location= story.location
  -#         %p.quote= story.story
  -#         - if story.get_connected?
  -#           = link_to 'Get Connected', connect_path
  -#         - elsif story.gather_supplies?
  -#           = link_to 'Gather Supplies', supplies_path
  -#         - elsif story.make_a_plan?
  -#           = link_to 'Make a plan', plan_path

  -# HELP!!!

    -# %ul.story-list
    -#   %li
    -#     .story-data
    -#       %h4
    -#         = t(:placeholder_story_name)
    -#       %h5.location
    -#         = t(:placeholder_story_location)
    -#       %p.quote
    -#         = t(:placeholder_story_quote)

  .statement
    .description
      %h2
        = t(:our_city)
      %p
        = t(:city_statement)
    .quote
      %p
        = t(:we_believe)

  = render :partial => "partials/footer"

  .modal-container{ style: "width: 860px; height: 470px;"}
    .modal-video
