= provide(:title, 'View Stories')
= javascript_include_tag "home"
.main-container.stories
  = render :partial => "partials/header"

  .opening{:style => ("background-image: url(#{@selected_story.image_url})" unless @selected_story.image.blank?)}
    %div
      %p= @selected_story.story
    %span.story-about
      %h1= @selected_story.name
      %h2= @selected_story.location

  .intro
    .personal-look
      %h2 A personal look at emergencies and connection.
      %p Watch stories of people who have lived through disasters—and those who are already fostering connections in #{@city.name}. No matter your situation, chances are, there’s someone like you with wisdom to share.

  %ul.story-list
    - @stories.each do |story|
      %li
        - unless story.image.blank?
          = image_tag(story.image_url, alt: story.name)
        .story-data
          %h4= story.name
          %h5.location= story.location
          %p.quote= story.story
          - if story.get_connected?
            = link_to 'Get Connected', connect_path
          - elsif story.gather_supplies?
            = link_to 'Gather Supplies', supplies_path
          - elsif story.make_a_plan?
            = link_to 'Make a plan', plan_path

  .statement
    .description
      %h2 Our city.
      %p= @city.statement
    .quote
      %p We believe in connection, not catastrophe.

  = render :partial => "partials/footer"
