.main-container.stories
  = render :partial => "partials/header"
  .intro
    .photo-overlay
      %h2.mobile-title Stories
      %h2 A personal look at emergencies, connection, and our city by the Bay.
      %p Watch stories of people who have lived through disasters &ndash; and those who are already fostering connections in San Francisco. No matter your situation, chances are, there’s someone like you with wisdom to share.
  %h3 Watch these videos to learn how you can get prepared.
  %ul.story-list
    - @stories.each do |story|
      %li
        %a{href: "#{ story_path(story.id) }"}
          .quote-dialog
            #{story.quote}
          = retina_image_tag story.video_image
          / It should use a partial!
          .story-data
            .story-type
              - case story.category
              - when "Tsunami or Flood"
                %span.icon-disaster-flood
              - when "Biohazard or Radiation"
                %span.icon-disaster-radiation
              - when "Earthquake"
                %span.icon-disaster-earthquake
              - when "Hurricane or Tornado"
                %span.icon-disaster-hurricane
              - when "Terrorist Atack"
                %span.icon-disaster-terrorist
              - when "Connection Story"
                %span.icon-disaster-connection
              - when "Other Emergency"
                %span.icon-disaster-other
            %h5 #{story.person}
            %p <span class="person-type">#{story.person_type}</span> #{story.location}
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-1.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-flood
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-2.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-other
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-3.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-hurricane
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-4.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-earthquake
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-5.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-terrorist
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-6.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-connection.hub
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-7.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-other
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-8.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-radiation
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-9.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-flood
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-10.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-terrorist
          %h5 Coming soon!
          %p More stories of resilience and community.
    %li
      %a{href: "#"}
        .quote-dialog Coming Soon
        %img{src: "/assets/static/coming-soon-11.jpg"}
        .story-data
          .story-type
            %span.icon-disaster-other
          %h5 Coming soon!
          %p More stories of resilience and community.


= render :partial => "partials/footer"