%div(ng-app="project")
  %div.main-container.story-detail{"ng-controller" => "storyDetailController"}
    = render :partial => "partials/header"
    .intro-video
      %iframe.video-opening{src: "#{@story.video_url}"}
      %ul.social-media
        %li.twitter
          %a{onClick: "twitterShare()"}
            %span.icon-share-twitter
        %li.facebook
          %a{onClick: "facebookShare()"}
            %span.icon-share-fb
    .intro-row
      .main-intro
        %h2
          %span#name #{@story.person}
        .story-main-details
          %span.kind-of Crisis Survivor,
          %span.story-disaster#disaster #{@story.event}
        %strong.story-location #{@story.location}, #{@story.date}
        .story-description
          / %h3 #{@story.story_header}
          %p#main_story #{@story.story}
      .main-quote <span id="main_quote">#{@story.quote}</span>
    .needed
      %h3 How I&apos;m prepared.
      %ul.needed-list
        %li
          %img{src: "#{@story.item1_image}"}
          %h4 Emergency Supplies
          %p &ldquo;#{@story.item1_quote}&rdquo;
          %a{href: "/prepare/things"} Gather your supplies
        %li
          %img{src: "#{@story.item2_image}"}
          %h4 Meetup Plan
          %p &ldquo;#{@story.item2_quote}&rdquo;
          %a{href: "/connect"} See the app
        %li
          %img{src: "#{@story.item3_image}"}
          %h4 Out of State Contact
          %p &ldquo;#{@story.item3_quote}&rdquo;
          %a{href: "/prepare"} Make a Plan
      %ul.needed-list.two-cols
        %li
          %img{src: "#{@story.item1_image_url(:full_bleed)}"}
          %h4 Emergency Supplies
          %p &ldquo;#{@story.item1_quote}&rdquo;
          %a{href: "/prepare/things"} Gather your supplies
        %li
          %img{src: "#{@story.item2_image_url(:full_bleed)}"}
          %h4 Meetup Plan
          %p &ldquo;#{@story.item2_quote}&rdquo;
          %a{href: "/connect"} See the app
    .similar
      %h3 Similar to #{@story.person}
      %ul.story-list
        - @related_stories.each do |related_story|
          %li
            %a{href: "/stories/#{ related_story.id }"}
              .quote-dialog
                #{ related_story.quote }
              %img{src: "#{ related_story.video_image }"}
              .story-data
                .story-type
                  %span.icon-disaster-hurricane
                %h5 #{ related_story.person }
                %p #{ related_story.location }

= render :partial => "partials/footer"