%div(ng-app="project")
	%div.main-container.story-detail{"ng-controller" => "storyDetailController"}
		= render :partial => "partials/header"
		.intro-video
			%img{src: '#{@story.main_image_url.url}'}
			%ul.social-media
				%li.twitter
					%a{href: "http://twitter.com/share?text=The%20San%20Francisco%20Manifesto%20from%20SF72.org:&url=http://sf72.org"} Twitter
				%li.facebook
					%a{href: "http://facebook.com"} Facebook
		.intro-row
			.main-intro
				%h2
					%span#name #{@story.victim}
					%span.story-disaster#disaster #{@story.disaster}
				%strong.story-location
					%span#location #{@story.location}
					%span#date #{@story.date}
				.story-description
					%h3
						%span #{@story.age},
						%span #{@story.civil_state},
						%span #{@story.location},
						%span #{@story.home_type}
					%p#main_story #{@story.main_story}
			.main-quote &ldquo;<span id="main_quote">#{@story.main_quote}</span>&rdquo;
		.needed
			%h3 What I needed.
			%ul.needed-list
				%li
					%img{src: '#{@story.needed_list_1_image_url}'}
					%p &ldquo;<span id="needed_list_1_quote">#{@story.needed_list_1_quote}</span>&rdquo;
				%li
					%img{src: '#{@story.needed_list_2_image_url}'}
					%p &ldquo;<span id="story.needed_list_2_quote">#{@needed_list_2_quote}</span>&rdquo;
				%li
					%img{src: '#{@story.needed_list_3_image_url}'}
					%p &ldquo;<span id="needed_list_3_quote">#{@story.needed_list_2_quote}</span>&rdquo;
		.learned
			%h3 What I learned.
			%ul.learned-list
				%li
					%p &ldquo;#{@story.learned_list_1_quote}&rdquo;
					%a{href: '#{@story.learned_list_1_href}'} #{@story.learned_list_1_anchor}
				%li
					%p &ldquo;{{ story.learned_list_2_quote}&rdquo;
					%a{href: '#{@story.learned_list_2_href}'} #{@story.learned_list_2_anchor}
				%li
					%p &ldquo;{{ story.learned_list_3_quote}&rdquo;
					%a{href: '#{@story.learned_list_3_href}'} #{@story.learned_list_3_anchor}
		.similar
			%h3 Similar to Kirstin
			%ul.story-list
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Jack & Lauren
							%p New Orleans, LA
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Marvin
							%p New Orleans, LA
				%li
					%a
						%img{src: "http://placekitten.com/300/170"}
						.story-data
							.story-type.hurricane
							%h5 Keiko
							%p Tokyo, Japan.

= render :partial => "partials/footer"