%div(ng-app="project")
  %div.main-container.story-detail{"ng-controller" => "storyDetailController"}
    = render :partial => "partials/header"
    .intro-video
      %iframe.video-opening{src: "#{@story.video_url}"}
      %ul.social-media
        %li.twitter
          %a{onClick: "twitterShare()"}
            %span.icon-share-twitter
        %li.facebook
          %a{onClick: "facebookShare()"}
            %span.icon-share-fb
    .intro-row
      .main-intro
        %h2
          %span#name #{@story.person}
        .story-main-details
          %span.kind-of Crisis Survivor,
          %span.story-disaster#disaster #{@story.event}
        %strong.story-location #{@story.location}, #{@story.date}
        .story-description
          / %h3 #{@story.story_header}
          %p#main_story #{@story.story}
      .main-quote <span id="main_quote">#{@story.quote}</span>
    .needed
      %h3 #{@story.items_title}
      - if !@story.item3_image.blank?
        %ul.needed-list
          %li
            = retina_image_tag @story.item1_image
            %h4 #{@story.item1_subtitle}
            %p &ldquo;#{@story.item1_quote}&rdquo;
            %a{href: "/prepare/supplies"} Gather your supplies
          %li
            = retina_image_tag @story.item2_image
            %h4 #{@story.item2_subtitle}
            %p &ldquo;#{@story.item2_quote}&rdquo;
            %a{href: "/connect"} See the app
          %li
            = retina_image_tag @story.item3_image
            %h4 #{@story.item3_subtitle}
            %p &ldquo;#{@story.item3_quote}&rdquo;
            %a{href: "/prepare"} Make a Plan
      - else
        - if @story.items_images_display_type == StoryItemsDisplayTypes::FULL_BLEED_PHOTOS
          %ul.needed-list.two-cols.wide-img
        - else
          %ul.needed-list.two-cols
            %li
              = full_bleed_image_tag @story.item1_image
              %h4 #{@story.item1_subtitle}
              %p &ldquo;#{@story.item1_quote}&rdquo;
              %a{href: "/prepare/supplies"} Gather your supplies
            %li
              = full_bleed_image_tag @story.item2_image
              %h4 #{@story.item2_subtitle}
              %p &ldquo;#{@story.item2_quote}&rdquo;
              %a{href: "/connect"} See the app
    .similar
      %h3 Similar to #{@story.person}
      %ul.story-list
        - @related_stories.each do |related_story|
          %li
            %a{href: "/stories/#{ related_story.id }"}
              .quote-dialog
                #{ related_story.quote }
              = retina_image_tag related_story.video_image
              .story-data
                .story-type
                  %span.icon-disaster-hurricane
                %h5 #{ related_story.person }
                %p #{ related_story.location }

= render :partial => "partials/footer"