.main-content.city-info
  .screen-intro
    %p.screen-info Fill in your city's details below to create your custom City72 site.
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  -# %form{:role => "form"}
  = simple_form_for @city, url: cms_city_path, html: { method: :put } do |f|
    .form-group
      = f.input :name, input_html: { class: 'form-control', id: "city-name"}, label: 'City Name <span class="help">(e.g. New York, Denver ... )</span>'.html_safe

    .form-group
      %label{:for => "city-abr"} City Abbreviation <span class="help">(e.g. NY, Den ... up to 4 letters )</span>
      .input-group.input-sm
        = f.input :abbreviation, input_html: { class: 'form-control', id: "city-abr"}, label: false
        %span.input-group-addon 72

    .form-group
      = f.input :abbreviation, input_html: { class: 'form-control', id: "city-moniker"}, label: 'What are the residents of your city called? <span class="help">(e.g. New Yorkers, Denverites ... )</span>'.html_safe
      %span.help-block If you leave this field blank your site will refer to people as "[City] residents."

    .form-group
      %label{:for => "city-posesive"}  What is the posesive form of your city name? <span class="help">(e.g. Chicago's, Dallas')</span>
      = f.input :abbreviation, input_html: { class: 'form-control', id: "city-posesive"}, label: false

    .form-group
      %label{:for => "select-color"}  Accent Color for Website
      %select.form-control#select-color{:name => "select-color"}
        %option{:value => "1"} Gold
        %option{:value => "2"} Green
        %option{:value => "3"} Blue

    .form-group
      %label{:for => "select-city-image"} Homepage Image: Your City
      %span.help-block What image evokes the feeling of being a resident in your city—but not a tourist?
      %input.form-control#select-city-image{:type => "file"}/

    .form-group
      %label{:for => "city-image-credit"} Image Credit <span class="help">(e.g. Flickr user name)</span>
      %input.form-control#city-image-credit{:type => "text"}/

    .form-group
      %label{:for => "select-resident-image"} Homepage Image: Residents of Your City
      %input.form-control#select-resident-image{:type => "file"}/

    .form-group
      %label{:for => "resident-image-credit"} Image Credit <span class="help">(e.g. Flickr user name)</span>
      %input.form-control#resident-image-credit{:type => "text"}/
      .form-group

    .form-group
      %label{:for => "brought-by"} This website brought to you by... <span class="help">(e.g. the San Francisco Department of Emergency Management)</span>
      %input.form-control#brought-by{:type => "text"}/

    %h2 Footer Information

    .form-group
      %label{:for => "agency-site"} Your Agency's Website
      %input.form-control#agency-site{:type => "text"}/

    .form-group
      %label{:for => "contact-email"} Contact Us Email
      %input.form-control#contact-email{:type => "text", :placeholder => "name@example.com"}/


    %h3 City Affiliates
    %p These links appear in the footer of each page of the site (add up to 8 links)

    .form-group
      %label{:for => "affiliate-1"} Name of Affiliate <span class="help">(name and corresponding URL)</span>
      %input.form-control#affiliate-1{:type => "text", :placeholder => "name@example.com"}/
      .input-group.input-md.input-multi
        %span.input-group-addon http://
        %input.form-control#affiliate-1-url{:type => "text"}/

    %a.add-btn{:href => "#"} + Add an Affiliate
    .form-actions
      %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}/
