.main-content.city-info

  = simple_form_for @city, url: cms_city_path, html: { method: :put } do |f|
    .screen-intro
      %p.screen-info Fill in your city's details below to create your custom City72 site.
      .action-area
        %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}/

    = f.input :name, input_html: {id: "city-name"}, label: 'City Name <span class="help">(e.g. New York, Denver ... )</span>'.html_safe, required: false
    
    .form-group
      %label.control-label{:for => "city-abr"}
        City Abbreviation 
        %span.help (e.g. NY, Den ... up to 4 letters )
      .input-group.col-sm-2
        = f.input_field :abbreviation
        %span.input-group-addon 72

    = f.input :color, collection: ['Gold', 'Green', 'Blue'], label: 'Accent Color for Website', required: false

    = f.input :moniker, label: 'What are the residents of your city called? <span class="help">(e.g. New Yorkers, Denverites ... )</span>'.html_safe, hint: 'If you leave this field blank your site will refer to people as "[City] residents."' , required: false

    = f.input :possessive, label: 'What is the possessive form of your city name? <span class="help">(e.g. Chicago\'s, Dallas\')</span>'.html_safe, required: false

    = f.input :image, label: 'Homepage Image: Your City', hint: 'What image evokes the feeling of being a resident in your city—but not a tourist?'

    = f.input :image_credit, label: 'Image Credit <span class="help">(e.g. Flickr user name)</span>'.html_safe

    = f.input :resident_image, label: 'Homepage Image: Residents of Your City'

    = f.input :resident_image_credit, label: 'Image Credit <span class="help">(e.g. Flickr user name)</span>'.html_safe

    = f.input :brought_by, label: 'This website brought to you by... <span class="help">(e.g. the San Francisco Department of Emergency Management)</span>'.html_safe, required: false

    %h2 Footer Information

    .form-group
      %label.control-label Your Agency's Website
      .input-group.col-sm-6
        %span.input-group-addon http://
        = f.input_field :agency_url

    = f.input :contact_email, label: 'Contact Us Email', input_html: {placeholder: 'name@example.com'}, required: false

    %h3 City Affiliates
    %p These links appear in the footer of each page of the site (add up to 8 links)

    = f.simple_fields_for :affiliates do |a|
      %label
        Name of Affiliate
        %span.help (name and corresponding URL)
      = a.input_field :name
      .input-group.col-sm-6
        %span.input-group-addon http://
        = a.input_field :url

    %button.add-btn.btn-link{:href => "#"} + Add an Affiliate

    .form-actions
      %input.btn.btn-primary{:type => "submit", :value => "Save Changes"}/
