.main-content.about
  .screen-intro
    %p.screen-info Share information about your organization and your City72 site, in the About section.
    .action-area
      %a.btn.btn-primary{:href => "#"} Save Changes

  = simple_form_for @about, url: cms_about_path do |f|
    .form-group
      %label{:for => "image"} Image
      = f.file_field(:image, :class => "form-control")
      %p.help-block Choose an image of something unique to your city.

    = f.input :brought_to_you_by, as: :text, label: 'Brought to you by <span class="help">(Your Organization)</span>'.html_safe, input_html: {cols: '90', rows: '8'}, required: false

    .form-group
      %label{:for => "logo"} Customize your city72 logo
      = f.file_field(:logo, :class => "form-control")
      %p.help-block Optionally replace the generated City72 logo. See the worksheet for instructions on how to get this SVG file.

    .form-actions
      = f.submit 'Save Changes', class: 'btn btn-primary'

