= javascript_include_tag "cms/spinner_save_btn"
.main-content.about
  .screen-intro
    %p.screen-info Share information about your organization and your City72 site.
    .action-area
      %a.btn.btn-primary.ladda-button.js-save{:href => "#"} Save Changes

  = simple_form_for @about, url: cms_about_path, html: {class: "js-form"} do |f|
    .form-group
      %label{:for => "image"} Image
      %p.help-block Choose a image of a place or moment unique to your city.
      - if !@about.image.blank?
        %img.preview{src: @about.image.url}
      - else
        %img{src: '/assets/placeholder-about.jpg'}
      = f.file_field(:image, :class => "form-control")
      

    = f.input :brought_to_you_by, as: :text, label: 'Brought to you by <span class="help">(Your Organization)</span>'.html_safe, input_html: {cols: '53', rows: '1'}, required: false

    .form-group
      %label{:for => "logo"} Customize your city72 logo
      %p.help-block Optionally replace the generated City72 logo.
      %img.preview{src: @about.logo}
      = f.file_field(:logo, :class => "form-control")


    %h2 Image Credits
    %p.help-block Optionally add image attributions here if needed.
    %ol.image-credits
      %li
        .form-group
          = f.input_field :photographer_1, placeholder: 'Name of Photographer'
          = f.input_field :photographer_1_url, placeholder: 'Link to Photo or Website'
      %li
        .form-group
          = f.input_field :photographer_2, placeholder: 'Name of Photographer'
          = f.input_field :photographer_2_url, placeholder: 'Link to Photo or Website'
      %li
        .form-group
          = f.input_field :photographer_3, placeholder: 'Name of Photographer'
          = f.input_field :photographer_3_url, placeholder: 'Link to Photo or Website'
      %li
        .form-group
          = f.input_field :photographer_4, placeholder: 'Name of Photographer'
          = f.input_field :photographer_4_url, placeholder: 'Link to Photo or Website'
      %li
        .form-group
          = f.input_field :photographer_5, placeholder: 'Name of Photographer'
          = f.input_field :photographer_5_url, placeholder: 'Link to Photo or Website'


    - unless flash.empty?
      .alert.alert-dismissable{:class => (flash.first[0] == :error)? "alert-danger" : "alert-success"}
        %button.close(data-dismiss="alert" aria-hidden="true") &times;
        %strong "#{ (flash.first[0] == :error)? "Error!" : "Saved!" }"
        = flash.first[1]

    .form-actions
      = content_tag :button, :type => :submit, :class => 'btn btn-primary js-save ladda-button' do
        %span.ladda-label Save Changes

    .frontend-link
      %a{:href => "/about"} View this page &raquo;



