.header
  .emergency
    %label Emergency Mode
    %select
      %option off
      %option on
  %h1.logo City72

%nav.navbar
  %ul.nav.navbar-nav
    %li
      = link_to "City Info", cms_city_path
    %li
      = link_to "Connections", cms_connections_path
    %li
      = link_to "Supplies", cms_supplies_path
    %li
      = link_to "Stories", cms_stories_path
    %li
      = link_to "Plan", cms_plan_index_path
    %li
      = link_to "About", cms_about_index_path
    %li.em-menu
      = link_to "Map & Updates", cms_map_index_path