.header
  .emergency
    %label
      Emergency Mode:
      %strong.status OFF
    %button.btn.btn-em{data: {toggle:"modal", target:".switch-em"}} Switch ON
  %h1.logo City72

%nav.navbar
  %ul.nav.navbar-nav
    %li{:class => ('active' if current_page?(cms_city_path))}
      = link_to "City Info", cms_city_path
    %li{:class => ('active' if current_page?(cms_city_connections_path))}
      = link_to "Connections", cms_city_connections_path
    %li{:class => ('active' if current_page?(cms_supplies_path))}
      = link_to "Supplies", cms_supplies_path
    %li{:class => ('active' if current_page?(cms_stories_path))}
      = link_to "Stories", cms_stories_path
    %li{:class => ('active' if current_page?(cms_plan_path))}
      = link_to "Plan", cms_plan_path
    %li{:class => ('active' if current_page?(cms_about_index_path))}
      = link_to "About", cms_about_index_path
    %li.user
      %a.dropdown-toggle{data: {toggle:"dropdown"}}
        %i.glyphicon.glyphicon-user
        User
        %b.caret
      %ul.dropdown-menu{role: "menu"}
        %li 
          %a{href: "#"} Change Password
        %li
          %a{href: "#"} Log Out
    %li.em-menu
      = link_to "Map & Updates", cms_map_path

.modal.switch-em.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Switch Emergency Mode
      .modal-body
        %form{:role => "form"}
          .form-group
            %label{:for => "mode-headline"} Incident title
            %input.form-control.input-lg#mode-headline{:type => "text"}/
          .form-group
            %label{:for => "mode-description"} A short description of the incident
            %textarea.form-control#mode-description{:name => "mode-description", :cols => "90", :rows => "3"} 
      .modal-footer
        %button.btn.btn-primary{type: "button"} Switch to Emergency Mode
        %button.btn{"data-dismiss" => "modal", type: "button"} Cancel
