<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= @analytic.tag.html_safe if !@analytic.nil? && !@analytic.tag.blank? %>
  <!--[if lt IE 9]>
  	<link rel="stylesheet" type="text/css" href="/ie8.css" />
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  <meta name="keywords" content="<%=raw METATAG_KEYWORDS %>">


</head>
<body class="accent-<%= @city.color.to_s %>">

  <%= yield %>
  <!--[if lt IE 9]>
    <script src="/rem.min.js"></script>
  <![endif]-->
</body>
</html>
