!!! 5
%html
  %head
    = stylesheet_link_tag "back_office", :media => "all"
    = javascript_include_tag "back_office"
    = csrf_meta_tags

  %body
    .container
      - if admin_user_signed_in?
        = render "layouts/admin_topbar"

      = yield
