!!! 5
%html
  %head
    = stylesheet_link_tag "backoffice", :media => "all"
    = javascript_include_tag "cms/backoffice"
    = yield :head
    = csrf_meta_tags

  %body{:'ng-app' => 'backofficeApp'}
    .container
      - if admin_user_signed_in?
        = render "layouts/admin_topbar"

      = yield
